# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist
build

# Env files & secrets
.env
.env.*
!env.sample

# Virtual environments
venv/
.venv/
env/
ENV/

# Django stuff
*.log
db.sqlite3
media/

# Migrations (optionally keep them if you want)
# Uncomment if you want to ignore compiled migration files
# */migrations/*.pyc

# IDEs/Editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OS-generated
.DS_Store
Thumbs.db

# Coverage
.coverage
.coverage.*
htmlcov/
coverage.xml

# Local config override file for django-configurations
core/config/local.py

# Node
node_modules/
npm-debug.log
yarn-error.log
